body {
  padding: 1rem;
  line-height: 1.6;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-width: 0 0 1px 1px;
}

table th {
  background: #eee;
  text-align: left;
}

table th,
table td {
  padding: .25rem .5rem;
  border: 1px solid #ddd;
  border-width: 1px 1px 0 0;
}

pre {
  padding: 1rem;
  background: #eee;
}

.more-help {
  margin: 1.5rem 0;
  padding-top: 1rem;
  border-top: 1px solid #ddd;
}

.more-help a {
  color: #999;
  font-size: .9em;
  text-decoration: none;
}
