<h2>CKAN Filters</h2>

<p>Filters can be used to refine/reduce the records returned from the CKAN datasource.</p>

<h3>Full text query</h3>

<p>This limits the results to records that contain a certain keyword or value.</p>

<h3>Filters</h3>

<p>This limits the results to records that match certain conditions. Eg. {"year":"2016"}.
Format should be JSON and multiple filters can be applied at once.</p>

<h3>Caution</h3>

<p>As results get heavily cached, you may need to clear caches for these filters to take effect.</p>
