<h2>Grid/Trend lines</h2>

<p>Add additional grid lines to the chart either on the X or Y Axis. You can add as many additional lines as you
    like.</p>

<p>Additional grid lines can have a label and are useful for such things as trend lines or intersects.</p>

<h3>For each grid line</h3>

<h4>Axis</h4>

<p>Y axis will add a horizontal line at the value defined. X axis will add a vertical line.</p>

<h4>Value</h4>

<p>This defines where the line will be added. The value must be within the dataset.</p>

<h4>Label</h4>

<p>Add an optional label to identify what the line represents. Eg average, min or max.</p>

<h4>Label position</h4>

<p>Define where the label appears on the line. Start, middle or end. On a X line start is the bottom, end is the top.</p>

<h3>Adding and removing lines</h3>

<p>Clicking 'Add line' will add a new empty line. Clicking 'Remove line' will remove the last line in the list.</p>
