<h2>Keys</h2>

<p>This is the data that gets included in the visualisation. What data to include in the visualisation.</p>

<h3>Example</h3>

<p>In this example dataset:</p>

<table>
    <tr>
        <th>Size</th>
        <th>Red</th>
        <th>Green</th>
        <th>Blue</th>
    </tr>
    <tr>
        <th>Small</th>
        <td>5</td>
        <td>10</td>
        <td>15</td>
    </tr>
    <tr>
        <th>Medium</th>
        <td>25</td>
        <td>30</td>
        <td>35</td>
    </tr>
    <tr>
        <th>Large</th>
        <td>50</td>
        <td>60</td>
        <td>70</td>
    </tr>
</table>

<p>The available keys would be <strong>Size, Red, Green</strong> and <strong>Blue</strong> and using the keys selection, you
    could limit it to only show <strong>Green</strong> and <strong>Blue</strong> data in the visualisation.</p>

<h3>Caution</h3>

<p>For best results, do not include the key used in "X axis settings > Tick values field" as this will create a duplicate column.</p>

