<h2>Label Key</h2>

<p>What key contains the labels. The value of each label key will be the X tick values if group by keys
or the legend if group by labels.</p>

<h3>Example</h3>

<p>In this example dataset:</p>

<table>
    <tr>
        <th>Size</th>
        <th>Red</th>
        <th>Green</th>
        <th>Blue</th>
    </tr>
    <tr>
        <th>Small</th>
        <td>5</td>
        <td>10</td>
        <td>15</td>
    </tr>
    <tr>
        <th>Medium</th>
        <td>25</td>
        <td>30</td>
        <td>35</td>
    </tr>
    <tr>
        <th>Large</th>
        <td>50</td>
        <td>60</td>
        <td>70</td>
    </tr>
</table>

<p>The label key would be <strong>Size</strong></p>

<h3>Caution</h3>

<p>Ensure the label key is not also selected in "Keys" as it will cause duplicate columns and
break some visualisations.</p>

<p>&nbsp;</p>
