<h2>Label overrides</h2>

<p>The labels in the dataset may not represent what you want to display on the site. This is most often due
  to CKAN not allowing certain characters eg spaces or symbols.</p>

<p>Label overrides allow you to do label replacements so when a label is displayed in a visualisation you can
    improve the presentation or add additional information.</p>

<p>Symbols may be used in replacements. Html code is not supported.</p>

<p>Add one label override per line and separate original label and new label with a pipe (|). Eg.</p>

<pre>
MyOriginalLabel1|My nicely formatted label
MyOtherOriginalLabel|My Awesome label
</pre>

<p>Label replacements apply to both column groups (the legend) and X axis tick values. They do <u>not</u> apply to Y
   axis values.</p>

<h3>Caution</h3>

<p>All label values must be unique.</p>

