<h2>Split field</h2>

<p>Optionally spit into multiple visualisations based on the value of this key.</p>

<h3>Example</h3>

<p>In this example dataset:</p>

<table>
    <tr>
        <th>Size</th>
        <th>Year</th>
        <th>Green</th>
        <th>Blue</th>
    </tr>
    <tr>
        <th>Small</th>
        <td>2010</td>
        <td>10</td>
        <td>15</td>
    </tr>
    <tr>
        <th>Small</th>
        <td>2015</td>
        <td>12</td>
        <td>17</td>
    </tr>
    <tr>
        <th>Medium</th>
        <td>2010</td>
        <td>30</td>
        <td>35</td>
    </tr>
    <tr>
        <th>Medium</th>
        <td>2015</td>
        <td>32</td>
        <td>37</td>
    </tr>
    <tr>
        <th>Large</th>
        <td>2010</td>
        <td>60</td>
        <td>70</td>
    </tr>
    <tr>
        <th>Large</th>
        <td>2015</td>
        <td>62</td>
        <td>72</td>
    </tr>
</table>

<p>If you split on the <strong>Year</strong> field, you would get 2 graphs/tables that look like this:</p>

<h4>2010</h4>

<table>
    <tr>
        <th>Size</th>
        <th>Year</th>
        <th>Green</th>
        <th>Blue</th>
    </tr>
    <tr>
        <th>Small</th>
        <td>2010</td>
        <td>10</td>
        <td>15</td>
    </tr>
    <tr>
        <th>Medium</th>
        <td>2010</td>
        <td>30</td>
        <td>35</td>
    </tr>
    <tr>
        <th>Large</th>
        <td>2010</td>
        <td>60</td>
        <td>70</td>
    </tr>
</table>

<h4>2015</h4>

<table>
    <tr>
        <th>Size</th>
        <th>Year</th>
        <th>Green</th>
        <th>Blue</th>
    </tr>
    <tr>
        <th>Small</th>
        <td>2015</td>
        <td>12</td>
        <td>17</td>
    </tr>
    <tr>
        <th>Medium</th>
        <td>2015</td>
        <td>32</td>
        <td>37</td>
    </tr>
    <tr>
        <th>Large</th>
        <td>2015</td>
        <td>62</td>
        <td>72</td>
    </tr>
</table>


