<h2>X Axis Grouping</h2>

<p>X Grouping allows you to flip how the data is displayed. The default "Group by Keys" will render the table
matching the original source and in a graph the Keys will form the legend. If "Group by Labels" is used, the
keys and labels gets swapped and in a graph the labels will form the legend.</p>

<h3>Example</h3>

<p>In this example dataset:</p>

<table>
    <tr>
        <th width="25%">Size</th>
        <th width="25%">Red</th>
        <th width="25%">Green</th>
        <th width="25%">Blue</th>
    </tr>
    <tr>
        <th>Small</th>
        <td>5</td>
        <td>10</td>
        <td>15</td>
    </tr>
    <tr>
        <th>Medium</th>
        <td>25</td>
        <td>30</td>
        <td>35</td>
    </tr>
    <tr>
        <th>Large</th>
        <td>50</td>
        <td>60</td>
        <td>70</td>
    </tr>
</table>

<p><strong>Group by keys</strong> would result in the same table being outputted.</p>

<p>If you were to use <strong>Group by labels</strong> the rendered table would look like this:</p>

<table>
    <tr>
        <th width="25%">Size</th>
        <th width="25%">Small</th>
        <th width="25%">Medium</th>
        <th width="25%">Large</th>
    </tr>
    <tr>
        <th>Red</th>
        <td>5</td>
        <td>25</td>
        <td>50</td>
    </tr>
    <tr>
        <th>Green</th>
        <td>10</td>
        <td>30</td>
        <td>60</td>
    </tr>
    <tr>
        <th>Blue</th>
        <td>15</td>
        <td>35</td>
        <td>70</td>
    </tr>
</table>

<p>&nbsp;</p>
